h1{
    text-align: center;
    color: red;
}
h2{
    text-align: center;
}
form{
    width: 50%;
    margin-left: 25%;
}
img {
    width: 600px;
    height: 300px;
    margin-left: 26%;
    margin-top: 10px;
}  

